<div class="flex items-center justify-center h-screen bg-gray-400">
  <div class="flex shadow-md">
    <div class="bg-white p-8 flex flex-col justify-center">
      <h1 class="text-gray-700 text-3xl text-center mb-4">SIGN IN</h1>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'text-gray-600') do |f| %>
        <div class="my-3">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'john@doe.com', class: "border rounded w-full py-2 px-4 outline-none focus:shadow-outline" %>
        </div>
        <div class="my-3">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: 'password', class: "border rounded w-full py-2 px-4 outline-none focus:shadow-outline" %>
        </div>
        <div class="md:flex md:items-center mb-2">
          <div class="md:w-3/3"></div>
          <label class="md:w-2/3 block text-gray-600 font-bold">
            <%= f.check_box :remember_me, class: "mr-2 leading-tight" %>
            <span class="text-sm">
              Remember me?
            </span>
          </label>
        </div>
        <div class="my-3 flex">
          <% if devise_mapping.rememberable? %>
          <% end %>
        </div>
        <div class="my-6 flex">
          <%= f.submit "Log in", class: "border rounded w-1/2 py-2 hover:bg-gray-200 active:bg-gray-300" %>
          <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
            <%= link_to "Sign up", new_registration_path(resource_name), class: "text-center border rounded w-1/2 py-2 border-indigo-600 bg-indigo-500 hover:bg-indigo-600 active:bg-indigo-700 text-white ml-2" %>
          <% end %>
        </div>
        <div class="my-3">
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "Forgot your password?", new_password_path(resource_name), class: "text-gray-600 leading-tight" %>
          <% end %>
        </div>
        <div class="my-3 text-center text-xs text-gray-500">
          &copy;<%= Date.today.year %> Quase Ninja Inc. All rights reserved.
        </div>
      <% end %>
    </div>
  </div>
</div>
